.post {
  border-top: 1px solid #ccc;;
  padding-top: 15px;
  
  &-page {
    margin-top: 50px;
  }
}
.post-maintitle {
  font-size: 24px;
  padding: 15px 0;
  margin:0;
}

.post-container {
  box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.post-time{
  margin-top: 19px;
  line-height: 1;
}

.post-title {
  border-left: 5px solid #17a2b8;
  padding-left: 5px;
}

.post-name {
  margin-top: 15px; 
  font-size: 20px; 
  font-weight: bold;
  line-height: 1;
}

.post-content {
  font-size: 18px;
  padding-top: 15px;
  margin-bottom: 15px;
  white-space: pre-wrap;
}

.post-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 0;
}

.post-top {
  margin-top: 40px;
}

.card-title {
  margin: 0;
  padding: 5px 0;
}

@media screen and (max-width:420px) {
  .post-page {
    margin-top: 30px;
  }
  .post-time {
    display: none;
  }
  .post-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .post-name {
    margin-top: 5px; 
    font-size: 18px; 
    font-weight: bold;
    line-height: 1;
  }
  .card {
    display: none;
  }
}