@charset "utf-8";

/* welcome page*/
.row {
  margin:0;
}

.logo {
  text-align: center;
  color: #fff;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
}

.fv {
  width: 100vw;
  height: 95vh;
  position:relative;
  background-position: center;
  background-size: cover;
  background-image: url('../img/fv-2.jpg');
}

.top-inner {
  position: absolute; 
  transform: translate(-50%,-50%);
  top: 40%;
  left: 50%;
}

.text-left {
  padding:0;
}

.fv-maintext {
  font-size: 60px;
  font-weight: bold;
　color: #fff;
}

.fv-subtext {
  font-size: 18px;
}

.nav-right {
  margin-right: 30px;
  color: #fff;
}

.footer {
  line-height: 50px;
}

.navbar-light .navbar-toggler {
    color: #6c757d;
    border-color: #6c757d;

}
@media screen and (max-width:450px){
  .fv {
    background-image: url('../img/fv-sp.jpg');
  }
  
  .fv-maintext {
    font-size: 36px;
  } 
  
  .fv-subtext {
    font-size: 14px;
  }
}







